# Create a LangChain NL2SQL Agent using Azure OpenAI and Azure SQL Database
This notebook goes through the process of creating a LangChain SQL Agent using Azure OpenAI as the LLM against an Azure SQL Database.

## Install the required python libraries
Start by installing the required libraries. Run the following at the terminal in the project folder so it references the project's requirements.txt:

```bash
pip install -r requirements.txt
```

## ODBC Driver for MS SQL Install
+ linux [here](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server)
+ windows [here](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server)
+ MacOS [here](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos)
+ Ubuntu - Use the **odbcDriverInstallUbuntu.txt** script to install the Microsoft ODBC Driver for MS SQL (version 18).

## Create and Import Data to the database
all SQL commands are in the ***Chinook_SqlServer.sql*** script, also found [here](https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_SqlServer.sql)

this will create a database named ***Chinook***\
tables named ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

## .env file
Fill out the .env file with your server and key values. For this notebook, you need to add your values to the **AZURE_OPENAI_API_KEY**, **AZURE_OPENAI_ENDPOINT** and **py-connectionString** variables.

```BASH
AZURE_OPENAI_API_KEY="" 
AZURE_OPENAI_ENDPOINT="" 
OPENAI_API_KEY="" 
AZURE_SQL_SERVER=""
AZURE_SQL_DATABASE="Chinook"
AZURE_SQL_USER=""
AZURE_SQL_PASSWORD=""
```

## Notebook Kernel
Be sure to select a kernel for the python notebook by using the **Select Kernel** button in the upper right of the notebook.

## Starting the Example
The first section sets up the python environment and gets any environment variables that were set.

In [15]:

import pyodbc
import os
from dotenv import load_dotenv
import langchain
from langchain.agents import create_sql_agent
from langchain.agents.agent_types import AgentType
from langchain.sql_database import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import AzureOpenAI
load_dotenv()

True

Next, create the database connection and test.

In [16]:
# connect to the Azure SQL database

from sqlalchemy import create_engine
from sqlalchemy.engine import URL

engine_str = URL.create(
    drivername="mssql+pyodbc",
    username=os.environ["AZURE_SQL_USER"],
    password=os.environ["AZURE_SQL_PASSWORD"],
    host=os.environ["AZURE_SQL_SERVER"],
    port=1433,
    database=os.environ["AZURE_SQL_DATABASE"],
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "TrustServerCertificate": "no",
        "Connection Timeout": "30",
        "Encrypt": "yes",
    },
)
print(engine_str)
db_engine = create_engine(engine_str)
db = SQLDatabase(db_engine, view_support=True, schema="dbo")

# test the connection
print(db.dialect)
print(db.get_usable_table_names())
db.run("select convert(varchar(25), getdate(), 120)")

mssql+pyodbc://jhl-admin:***@starburst-server.database.windows.net:1433/jhl-db?Connection+Timeout=30&Encrypt=no&TrustServerCertificate=yes&driver=ODBC+Driver+17+for+SQL+Server
mssql
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[('2024-04-12 18:03:23',)]"

Create a reference to Azure OpenAI as the LLM to be used with the SQL agent. Replace DEPLOYMENT_NAME with the name of your Azure OpenAI gpt-3.5-turbo-instruct deployment

In [17]:
deployementName = "DEPLOYMENT_NAME"

azurellm = AzureOpenAI(
    deployment_name=deployementName,
    model_name="gpt-35-turbo-instruct",
    api_version="2024-02-15-preview"
)

Run the following to create the SQL Agent

In [18]:
toolkit = SQLDatabaseToolkit(db=db, llm=azurellm)

agent_executor = create_sql_agent(
    llm=azurellm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

Now, test the agent by creating a prompt using natural language asking about a database object.

In [24]:
agent_executor.invoke("List the top 3 selling artist")

> Entering new SQL Agent Executor chain...
 We will need to query the database to get the top 3 selling artists. We will need to use the sql_db_query tool to execute the correct SQL query.
Action: sql_db_query
Action Input: SELECT artist, SUM(sales) AS total_sales FROM artists GROUP BY artist ORDER BY total_sales DESC LIMIT 3Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT artist, SUM(sales) AS total_sales FROM artists GROUP BY artist ORDER BY total_sales DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405)The query is incorrect, we need to use the sql_db_query_checker tool to check for any syntax errors.
Action: sql_db_query_checker
Action Input: SELECT artist, SUM(sales) AS total_sales FROM artists GROUP BY artist ORDER BY total_sales DESC LIMIT 3

> Entering new LLMChain chain...
Prompt after formatting:

SELECT artist, SUM(sales) AS total_sales FROM artists GROUP BY artist ORDER BY total_sales DESC LIMIT 3
Double check the mssql query above for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

Output the final SQL query only.

SQL Query:

> Finished chain.

SELECT artist, SUM(sales) AS total_sales FROM artists GROUP BY artist ORDER BY total_sales DESC LIMIT 3 The query looks correct now, but we need to make sure the 'artists' table exists. We can use the sql_db_list_tables tool to check.
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track The 'artists' table exists, but we still need to make sure we are querying the correct fields. We can use the sql_db_schema tool to get the schema and sample rows for the 'artists' table.
Action: sql_db_schema
Action Input: artistsError: table_names {'artists'} not found in database It seems like the 'artists' table is not in the database. We can use the sql_db_list_tables tool to double check that it exists.
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track The 'artists' table does exist. We need to check the spelling of the table name in our query. If the spelling is correct, we can use the sql_db_schema tool to get the correct table fields.
Action: sql_db_schema
Action Input: artistError: table_names {'artist'} not found in database It looks like the table name in our query is incorrect. We can use the sql_db_schema tool with the correct table name to get the fields.
Action: sql_db_schema
Action Input: Artist
CREATE TABLE dbo.[Artist] (
	[ArtistId] INTEGER NOT NULL,
	[Name] NVARCHAR(120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_Artist] PRIMARY KEY ([ArtistId])
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/ Now we have the correct table name and fields, we can re-write our query using the 'Name' field instead of 'artist' and use the sql_db_query tool to get the top 3 selling artists.
Action: sql_db_query
Action Input: SELECT Name, SUM(sales) AS total_sales FROM Artist GROUP BY Name ORDER BY total_sales DESC LIMIT 3Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT Name, SUM(sales) AS total_sales FROM Artist GROUP BY Name ORDER BY total_sales DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405) The query is still incorrect, we need to use the sql_db_query_checker tool to check for any syntax errors.
Action: sql_db_query_checker
Action Input: SELECT Name, SUM(sales) AS total_sales FROM Artist GROUP BY Name ORDER BY total_sales DESC LIMIT 3

> Entering new LLMChain chain...
Prompt after formatting:

SELECT Name, SUM(sales) AS total_sales FROM Artist GROUP BY Name ORDER BY total_sales DESC LIMIT 3
Double check the mssql query above for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

Output the final SQL query only.

SQL Query:

> Finished chain.

SELECT Name, SUM(sales) AS total_sales FROM Artist
WHERE Name IS NOT NULL
GROUP BY Name
ORDER BY total_sales DESC
LIMIT 3; The query looks correct now. We can use the sql_db_query tool to execute the query and get the top 3 selling artists.
Action: sql_db_query
Action Input: SELECT Name, SUM(sales) AS total_sales FROM Artist WHERE Name IS NOT NULL GROUP BY Name ORDER BY total_sales DESC LIMIT 3Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT Name, SUM(sales) AS total_sales FROM Artist WHERE Name IS NOT NULL GROUP BY Name ORDER BY total_sales DESC LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405) It looks like the database we are using does not support the LIMIT keyword. We can use the TOP keyword instead in our query.
Action: sql_db_query
Action Input: SELECT TOP 3 Name, SUM(sales) AS total_sales FROM Artist WHERE Name IS NOT NULL GROUP BY Name ORDER BY total_sales DESCError: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'sales'. (207) (SQLExecDirectW)")
[SQL: SELECT TOP 3 Name, SUM(sales) AS total_sales FROM Artist WHERE Name IS NOT NULL GROUP BY Name ORDER BY total_sales DESC]
(Background on this error at: https://sqlalche.me/e/20/f405) It looks like the 'sales' column does not exist in the 'Artist' table. We need to use the sql_db_schema tool to get the correct field name.
Action: sql_db_schema
Action Input: Artist
CREATE TABLE dbo.[Artist] (
	[ArtistId] INTEGER NOT NULL,
	[Name] NVARCHAR(120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_Artist] PRIMARY KEY ([ArtistId])
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/ The 'sales' column does not exist in the 'Artist' table. We need to use the sql_db_schema tool with the correct table name to get the correct fields.
Action: sql_db_schema
Action Input: Invoice
CREATE TABLE dbo.[Invoice] (
	[InvoiceId] INTEGER NOT NULL,
	[CustomerId] INTEGER NOT NULL,
	[InvoiceDate] DATETIME NOT NULL,
	[BillingAddress] NVARCHAR(70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCity] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingState] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCountry] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingPostalCode] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Total] NUMERIC(10, 2) NOT NULL,
	CONSTRAINT [PK_Invoice] PRIMARY KEY ([InvoiceId]),
	CONSTRAINT [FK_InvoiceCustomerId] FOREIGN KEY([CustomerId]) REFERENCES dbo.[Customer] ([CustomerId])
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/ Now we have the correct field name, we can re-write our query and use the sql_db_query tool to get the top 3 selling artists.
Action: sql_db_query
Action Input: SELECT TOP 3 Name, SUM(Total) AS total_sales FROM Artist INNER JOIN Invoice ON Artist.ArtistId = Invoice.CustomerId WHERE Name IS NOT NULL GROUP BY Name ORDER BY total_sales DESC[('Antônio Carlos Jobim', Decimal('49.62')), ('Azymuth', Decimal('47.62')), ('Os Mutantes', Decimal('46.62'))] We have successfully queried the database and received the top 3 selling artists.
Final Answer: The top 3 selling artists are Antônio Carlos Jobim, Azymuth, and Os Mutantes with sales of $49.62, $47.62, and $46.62 respectively.

> Finished chain.

{'input': 'List the top 3 selling artist',
 'output': 'The top 3 selling artists are Antônio Carlos Jobim, Azymuth, and Os Mutantes with sales of $49.62, $47.62, and $46.62 respectively.'}

In [ ]:
agent_executor.invoke("What are the most popular genres?")